/* regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

#container, #container-float {
    width: 90%;
    margin: 0 5%;
}


/* regole header */

header {
    height: 60px;
   /* debug*/
    background-color: #063971;
}

#logo {
    width: 90px;
    vertical-align: middle;
    padding-bottom: 10px;
    border: 1px;
}

#main-nav {
    margin: 0 7% 0 7%;
    line-height: 50px;
}

#main-nav li {
    display: inline-block;
    list-style-type: none;
    margin-right: 7px;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    font-size: 10px;
}

li:nth-child(2) {
    margin-left: 30px;
}

li:nth-child(6) {
    margin-left: 60px;
}

/*nav button*/

.btn-login a, .btn-piano a {
    padding: 4px 15px 4px 15px;
    border-radius: 3px;
}

.btn-login a {
    border: 1px solid white;
}

.btn-piano a {
    background-color: #32CD32;
}

/* hover link */

.btn-login a:hover, .btn-piano a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid white;
}


/* regole main */


.top-block {
    height: 400px;
   /* debug*/
    background-color: #063971;
    background-image: url(../img/background-header.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    position: relative;
}

.box-title {
    position: absolute;
    top: 50%;
    left: 10%;
    color: white;
    font-size: 25px;
}

.btn-title a {
    text-decoration: none;
    font-size: 10px;
    color: white;
}


/*blocco middle*/

.middle-block {
    height: 100px;
    padding-top: 20px;
    line-height: 28px;
    text-align: center;
    /*debug*/
    background-color: #D3D3D3;
}

.middle-block h2 {
    font-size: 19px;
    font-weight: normal;
}

.middle-block h3 {
    font-size: 14px;
    font-weight: normal;
    color: grey;
}

/* sezione float */

hr {
    color: #D3D3D3;
}

#container-float {
    margin-top: 20px;
}

.aside {
    float: left;
    width: 32%;
   /* height: 300px; */
    /*debug*/
    /*background-color: #90EE90;*/
}

.img-aside, .img-center {
    width: 100%;
    height: 150px;
    /*  background-color: orange;*/
}

.img-aside.left {
    background-image: url(../img/profile.svg);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.img-aside.right {
    background-image: url(../img/doc.svg);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.img-center {
    background-image: url(../img/computer.svg);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.center {
    float: left;
    width: 32%;
    margin: 0 2%;
    /*height: 300px;*/
   /* debug*/
   /* background-color: #90EE90;*/
}

.text-title h3 {
    text-align: center;
    color: #32CD32;
    font-weight: normal;
    font-size: 18px;
    margin: 20px 0;
}

.text-title p {
    font-size: 13px;
    color: grey;
    text-align: center;
}

 /* regole row */


.row-1::after {
    content: "";
    display: table;
    clear: both;
    /*debug*/
    /* background-color: #4682B4; */
    margin-bottom: 10px;
}

.row-2::after {
    content: "";
    display: table;
    clear: both;
    /*debug*/
    /* background-color: #4682B4; */
}

.row-1 {
    margin-bottom: 30px;
}

.row-2 {
    margin-top: 30px;
}

/*regole secondo float*/

.aside-left {
    float: left;
    width: 45%;
   /* height: 300px; */
    /*debug*/
    /*background-color: #3CB371;*/
    margin: 0 2.5%;
}

.aside-right {
    float: left;
    width: 45%;
   /* height: 300px; */
    /*debug*/
    /*background-color: #3CB371;*/
    margin: 0 2.5%;
}

/*regole secondo float*/

.img-bottom {
    background-image: url(../img/mountain.svg);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    width: 100%;
    height: 260px;
   /* debug*/
    /*  background-color: orange;*/
}

.text-mountain {
    text-align: left;
}

.text-mountain p {
    font-size: 13px;
    color: grey;
    margin: 10px 0;
}

.text-mountain a {
    font-size: 10px;
}


/* sezione footer */

footer{
    height: 70px;
    margin-top: 10px;
    margin-bottom: 30px;
   /* debug*/
    background-color: #D3D3D3;
}
